/* Styling for MyAccount.js collapse component. */
.my-account {
    width: 70vw;
    margin: auto;
}

form {
    text-align: center;
}

/* Logout button */
.logout {
    margin-bottom: 1em;
}

/* Artist Profile address and statement inputs */
.artist-profile input, .artist-profile textarea {
    width: 40vw;
}

#statement {
    height: 10vw;
}

/* Artist Profile "Medium" checkboxes. */
input[type=checkbox] {
    width: auto;
}

@media only screen and (max-width: 600px) {
    .my-account {
        width: 90vw;
    }
    .my-account .form-control {
        width: 75vw;
    }
    #statement {
        height: 30vw;
    }
    .alert {
        width: 80vw;
    }
}