/* Styling for artist cards */
.artist-card {
    width: 20vw;
    display: inline-block;
    margin: 1em;
}

.registry .btn-filter{
    margin: 1em;
}

/* Filter button */
.dropdown-item:hover {
    background-color: #4FF1A8;
}

.dropdown-item:active {
    background-color: #4FF1A8;
}

.dropdown {
    display: inline-block;
}

@media only screen and (max-width: 600px) {
    .artist-card {
        width: 40vw;
        margin: 0.5em;
    }
}