/* Color palette: https://coolors.co/fbf5f3-8ba89b-522b47-7b0828-0f0e0e
  White Smoke #fbf5f3 (background)
  Pewter Blue #8daa9d (links)
  Wine Dregs #522b47 (nav bar)
  Smokey Black #0f0e0e (text)
*/

.App {
  text-align: center;
  font-size: 16px;
}

body {
  font-family: 'Do Hyeon', sans-serif;
  background-color: #fbf5f3;
  color: #0f0e0e;
  margin-bottom: 100px;
}

/* Navigation */
.navbar {
  background-color: #522b47;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

/* Elephant icon */
.navbar-brand {
  color: #fbf5f3;
  margin-left: 1em;
}

.navbar-brand:hover {
  color: #fbf5f3;
}

.elephant {
  margin-right: 0.5em;
}

#nav a {
  color: #fbf5f3;
  text-decoration: none;
}

/* All links. Excluding navigation links. */
a {
  color: #8daa9d;
}

a:hover {
  color: #8daa9d;
}

/* Page content. */
.content {
  margin-top: 50px;
  height: 90%;
}

/* Home page slideshow */
.home-slide {
  width: 60vw;
  margin: 2em auto auto;
  border: 2px solid #8daa9d;
}

.home-slide img {
  margin: auto;
}

.home-slide .carousel-caption {
  background: #ffffff;
  color: #0f0e0e;
  border: 1px solid #8daa9d;
}

.home-slide .arrow span{
  background-color: #0f0e0e;
  padding: 1em;
  border-radius: 10px;
}

.home-slide .mobile {
  width: 20vw;
}

/* Footer */
footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  background-color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .navbar {
    position: fixed;
    top: 0;
    width: 100vw;
  }
  h1 {
    margin-top: 50px;
  }
  .marching-elephants {
    width: 90vw;
  }
  .home-slide {
    width: 80vw;
  }
  /* Styling for the image of app on mobile devices. Home page slideshow. */
  .home-slide .mobile {
    width: 25vw;
  }
}