/* Color palette: https://coolors.co/fbf5f3-8ba89b-522b47-7b0828-0f0e0e
  White Smoke #fbf5f3 (background)
  Pewter Blue #8daa9d (links)
  Wine Dregs #522b47 (nav bar)
  Smokey Black #0f0e0e (text)
*/

.App {
  text-align: center;
  font-size: 16px;
}

body {
  font-family: 'Do Hyeon', sans-serif;
  background-color: #fbf5f3;
  color: #0f0e0e;
  /* margin-bottom: 1em; */
}

/* Navigation */
.navbar {
  background-color: #522b47;
  padding: 0;
}

/* Elephant icon */
.navbar-brand {
  color: #fbf5f3;
  margin-left: 1em;
}

.navbar-brand:hover {
  color: #fbf5f3;
}

.elephant {
  margin-right: 0.5em;
}

/* .login {
  align-content: right;
} */

#nav a {
  color: #fbf5f3;
  text-decoration: none;
}

/* All links. Excluding navigation links. */
a {
  color: #8daa9d;
}

a:hover {
  color: #8daa9d;
}

/* Page content. */
.content {
  margin-top: 25px;
}

@media only screen and (max-width: 600px) {
  .navbar {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100vw;
  }
  h1 {
    margin-top: 50px;
  }
}